<div class="container-fluid">
  <app-pagetitle title="Dashboard" ></app-pagetitle>

  
  
 <!-- new-->
  <div class="row">
    <div class="col-4">
      <div class="card" >
        <div class="card-body">
          
         <div class="table-responsive">
          <div class="text-center mt-1">
            <table class="table table-centered">
              <thead class="thead-light">
                <tr>
                  <th><h5 class="card-title mb-2">NEWS</h5></th>
                  
                </tr>
              </thead>
            </table>
          </div>
          <div>
         <h6>
           <div class="text-left">
              <a href="#"> <p class="mb-2">HEADLINE NEWS IN GHANA</p></a>
          
            </div>
          </h6>
            
             <div>
              <ul>
             <p> <li>Ghana's Cedi slumps to world's worst performer amid IMF talks.</li></p>
             <p><li>Cedi lost 9% value to dollar in only a week.</li></p>
             <p><li>Government achieves 11% oversubscription of T-biils sale but interest costs surge.</li></p>
             <p><li>Ethiopia restricts use of foreign currency</li></p>
             </ul>
             </div>
            
           <h6>
             <div class="text-left">    
             <a href="#"> <p class="mb-2">AFRICAN NEWS</p></a>
              </div>
            </h6>
            
             <div>
              <ul>
                <p> <li>19 Sub-Saharan Africans countries in debt distress or high risk of distress </li></p>
                <p><li>IMF</li></p>
                <p><li>Nigeria's Fidelity Bank Settles $400 Million Eurobond Due Monday</li></p>
                <p><li>Emerging markets hurt less as dollar's wrath sinks rich nations</li></p>
               <p> <li>Zimbabwe will keep world's highest interest rates into 2023</li></p>
               <p> <li>Ethiopia restricts use of foreign currency</li></p>
              </ul>
             </div>
            
             </div>
          </div>
          </div>
      </div>
    </div>
    
    
      <div class="col-4">
        <div class="card" >
          <div class="card-body">
            
            <div class="table-responsive">
            <div class="text-center mt-1">
              <table class="table table-centered">
                <thead class="thead-light">
                  <tr>
                    <th><h5 class="card-title mb-2">CURRENCY/INTERBANK FOREX RATE</h5></th>
                    
                  </tr>
                </thead>
              </table>
            </div>
            <h6>
            <div>
            <table class="table table-centered">
              <thead class="thead-light">
                <tr>
                  <th>CURRENCY PAIR</th>
                  <th>CURR.DATE</th>
                  <th>D/D CHANGE (%)</th>
                  <th>YTD</th>
                </tr>
             </thead>

             <tbody>
             <tr>
             <td>USD/GHS</td>
             <td>10.8709</td>
             <td>-1.42%</td>
             <td>-44.75%</td>
             </tr>
              <tr>
                <td>EUR/GHS</td>
                <td>10.6958</td>
                <td>-2.47%</td>
                <td>-36.13%</td>

              </tr>
             <tr>
              <td>GBP/GHS</td>
              <td>12.3836</td>
              <td>-3.11%</td>
              <td>-34.34%</td>
             </tr>
             <tr>
              <td>JPY/GHS</td>
              <td>0.0731</td>
              <td></td>
              <td></td>
             </tr>
             <tr>
              <td>AUD/GHS</td>
              <td>6.8463</td>
              <td></td>
              <td></td>
             </tr>
             <tr>
              <td>CAD/GHS</td>
              <td>7.9263</td>
              <td></td>
              <td></td>
             </tr>
                            
             </tbody>






            </table>
              
            
              
              
               </div>
               </h6>
              
               </div>
            </div>
            </div>
        </div>
      
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              
              <div class="table-responsive">
              <div class="text-center mt-1">
                <table class="table table-centered">
                  <nav>
                  <thead class="thead-light">
                    
                     
                     <tr>
                     
                      
                      
                      <th><h5 class="card-title mb-4">MOST VALUE TRADED</h5></th>
                      
                     
                     
                    
                      
                      <th><h5 class="card-title mb-4">MOST VOLUME TRADED</h5></th>
                     
                    
                     
                     </tr>
                   </thead>
                  </nav>
                </table>
              </div>
              </div>
             
              <h6>
              <div>
               
                <table class="table table-centered">
                  <thead class="thead-light">
                    <tr>
                      <th>COMPANY</th>
                      <th>SHARED PRICE (GHS)</th>
                      <th>VOLUME TRADED</th>
                      
                    </tr>
                 </thead>
                 <tbody>
                 <tr>
                  <td>SIC Insurance</td>
                  <td>0.32</td>
                  <td>10.460</td>
                 </tr>
                 <tr>
                  <td>GCB Bank</td>
                  <td>3.95</td>
                  <td>9.163</td>
                 </tr>
                 <tr>
                  <td>MTN Ghana</td>
                  <td>0.88</td>
                  <td>4.562</td>
                 </tr>
                 <tr>
                  <td>NewGOLD EFT</td>
                  <td>198.60</td>
                  <td>3.542</td>
                 </tr>
                 <tr>
                  <td>Intravenous Infusions</td>
                  <td>0.04</td>
                  <td>669</td>
                 </tr>
                 
                  </tbody>


               </table>
             
              
                
                
                 
               </div>
              </h6>
                 </div>
                 </div>
              </div>
              </div>
            
          
            <!--end -->
  
    
  <!-- new-->
  <div class="row">
     <div class="col-4">
      <div class="card"  >
        <div class="card-body">
          
         <div class="table-responsive">
          <div class="text-center mt-1">
            <table class="table table-centered">
              <thead class="thead-light">
              
                <tr>
                  <th> <h5 class="card-title mb-2">BEST GAINERS</h5>
                  
                     <table class="table table-centered">
                      <thead class="thead-light">
                      <tr>
                        <th>TICKER </th>
                        <th>1D</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>GLD</td>
                      <td>3.65%</td>  
                    </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                    </tbody>
                    
                  

                  </table>
                  
                  
                  </th>
                  <th><h5 class="card-title mb-2">WORST LOSERS</h5>
                    <table class="table table-centered">
                      <thead class="thead-light">
                      <tr>
                        <th>TICKER </th>
                        <th>1W</th>
                      </tr>
                    </thead>
                   <tbody>
                    <tr>
                      <td>GLD</td>
                      <td>10.27%</td>
                    </tr>
              
                  </tbody>
                  <tbody>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                  </table>
                  </th>
                  <th><h5 class="card-title mb-2">BEST DIV. YIELD</h5>
                    <table class="table table-centered">
                      <thead class="thead-light">
                      <tr>
                        <th>TICKER </th>
                        <th>YTD</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>SIC</td>
                      <td>300.00%</td>

                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>GLD</td>
                      <td>82.87%</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>TBL</td>
                      <td>47.06%</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>ACCESS</td>
                      <td>27.30%</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td>EGL</td>
                      <td>14.70%</td>
                    </tr>
                  </tbody>
                  </table>
                  </th>


                </tr>
                
          
              
              </thead>
            </table>
          </div>
          <div>
        
          
            
            
            
             </div>
          </div>
          </div>
      </div>
    </div>
    
    
      <div class="col-4">
        <div class="card" >
          <div class="card-body">
            
            <div class="table-responsive">
            <div class="text-center mt-1">
              <table class="table table-centered">
                <thead class="thead-light">
                  <tr>
                    <th><h5 class="card-title mb-2">REPORTS</h5></th>
                    
                  </tr>
                </thead>
              </table>
            </div>
            <div>
            
              
              <h6>
              <ul>
                <p>
                 <a href="#"> <li>NewGold EFT To New Year High</li>
                   <i class ="fa fa-download"></i>
                 </a>
                </p>
                
               <p> 
                 
                  <a href="#"> <li>Headline Inflation increase to 33.9% y/y in Aug 2022</li>
                   <i class ="fa fa-download"></i>
                 </a>
                </p>
              
               <p>
                 <a href="#"> <li>Market Remain Dormant</li>
                   <i class ="fa fa-download"></i>
                 </a>
              </p>
               
              <p>
               <a href="#"> <li>Monetary Policy Committee raises MPR to 24.5% in Oct-2022</li>
                 <i class ="fa fa-download"></i>
               </a>
              </p>
              <p>
               <a href="#"> <li>Sept-2022 headline inflation prints 37.2% y/y following an adjustment in the GSS CPI reference year to 2021</li>
                 <i class ="fa fa-download"></i>
               </a>
              </p>
             <p>
                <a href="#"> <li>Standard Chartered Bank Declines To A Year-Low of GHS20.16</li>
                 <i class ="fa fa-download"></i>
               </a>
              </p>
              <p>
               <a href="#"> <li>Company Valuation-Ecobank GHana Limited </li>
                 <i class ="fa fa-download"></i>
               </a>
              </p>
              </ul>
            </h6>





            
              
            
              
              
             </div>
              
               </div>
            </div>
            </div>
        </div>
      
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              
              <div class="table-responsive">
              <div class="text-center mt-1">
                <table class="table table-centered">
                  <thead class="thead-light">
                    <tr>
                      <th><h5 class="card-title mb-2">CALENDAR</h5></th>
                      
                    </tr>
                    
                  </thead>
                </table>
              </div>
              <h6>
              <div>
                
                <table class="table table-centered">
                 <tbody>
                 <tr>
                  <td>MONDAY 21ST OCTOBER, 2022</td>
                  <td>COUPON PAYMENT</td>
                  
                </tr>
                <tr>
                  <td>MONDAY 26TH OCTOBER, 2022</td>
                  <td>COUPON PAYMENT</td>
                  
                </tr>
               <tr>
                  <td>MONDAY 28TH OCTOBER, 2022</td>
                  <td>COUPON PAYMENT</td>
                  
                </tr>
                <tr>
                  <td>MONDAY 28TH OCTOBER, 2022</td>
                  <td>COUPON PAYMENT</td>
                  
                </tr>
                <tr>
                  <td>MONDAY 29TH OCTOBER, 2022</td>
                  <td>COUPON PAYMENT</td>
                </tr>

                  <tr>
                    <td>MONDAY 30TH OCTOBER, 2022</td>
                    <td>COUPON PAYMENT</td>
                  </tr>

                    <tr>
                      <td>MONDAY 30TH OCTOBER, 2022</td>
                      <td>COUPON PAYMENT</td>
                    </tr>

                      <tr>
                        <td>MONDAY 24TH OCTOBER, 2022</td>
                        <td>COUPON PAYMENT</td>
                      </tr>

                        <tr>
                          <td>MONDAY 25TH OCTOBER, 2022</td>
                          <td>COUPON PAYMENT</td>
                          </tr>
                 
                  </tbody>


               </table>
             
              
                
                
                 
               </div>
              </h6>
                 </div>
                 </div>
              </div>
              </div>
            </div>
          
    
   
    
  
      
    
    
   <!-- end row -->
            
</div>   
 
      
    
    
    
  
   
 
 

  





